html body {
    background-color: antiquewhite;
  }

.appTitle {
    text-align: center;
}

.usersUl {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 60%;
    margin-left: 20%;
    list-style: none;
    text-align: left;
}

.usersLi {
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5%;
    margin: 10px;
    width: fit-content;
}

.detailsLink:link {
    text-decoration: underline;
    color: black;
}

.detailsLink:visited {
    text-decoration: none;
    color: black;
}

.userDetailsContainer {
    width:fit-content;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10%;
}